#interest-calculator {
  
  text-align: center;
  border:5px solid #4CAF50;
  border-radius:25px;
  padding:10px;
  height: 500px;
  width: 400px;
  background-color: whitesmoke;
}
#interest-calculator  .input-group {
  font-size: 24px;
  margin-bottom: 10px;
  text-align:right
}

#calculate-button {
  font-size: 24px;
  padding: 10px 20px;
  background-color: #4CAF50;
  width:200px;
  height:100px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#calculate-button:hover {
  background-color: #45a049;
}
#results {
  font-size: 2em;
  margin-top: 20px;
  text-align:center;
}