body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    overflow-y: auto;
}

/* Container */
:root {
  --border-radius: 15px;
  --box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  --primary-color: #4CAF50;
}

.container {
  background: #ffffff;
  padding: 30px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  width: 60%;
  max-width: 700px;
  margin: 20px auto;
}


#interest-calculator {
  text-align: center;
  border:2px solid var(--primary-color);
  border-radius:25px;
  padding:20px;
  width: 400px;
  background-color: whitesmoke;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin: 50px auto; /* Centre form horizontally */
}

h1,h2, p {
  color: #4CAF50;
  margin-bottom:20px;
  font-family: 'Arial', sans-serif;
  text-align: center;
}

#interest-calculator  .input-group {
  margin-bottom: 15px;
  font-size: 16px;
  text-align:right;
  align-items: center;
  justify-content: center;
  display: flex;
}

.input-group label {
  width:45%;
  padding-right: 10px;
  text-align:right;
}

.input-group input, 
.input-group select {
  width: 50%;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 18px;
}

#calculate-button {
  font-size: 1em;
  padding: 10px 20px;
  background-color: #4CAF50;
  width:175px;
  height:50px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#calculate-button:hover {
  background-color: #45a049;
}
#results {
  
  margin-top: 20px;
  text-align:center;
  padding: 10px;
  background: #e6f7ff;
  border-radius: 5px;
}

.black {
    color: black;
}
.blue {
    color: blue;
}
.red {
    color: red;
}
.green {
    color: green;
}
